{namespace v=FluidTYPO3\Vhs\ViewHelpers}
    
		<v:page.menu entryLevel="0" useShortcutData="0">
			<ul id="main-menu" class="sm sm-clean -nav -navbar-nav">
				<f:for each="{menu}" as="menuItem" iteration="iteration">
					<f:if condition="{menuItem.hasSubPages}">
						<f:then>
							<li class="{menuItem.class}">
								<a href="{menuItem.link}">{menuItem.linktext}</a>
								<v:page.menu pageUid="{menuItem.uid}" >
									<ul>
										<f:for each="{menu}" as="subItem">
											<li class="{subItem.class}">
												<a href="{subItem.link}">{subItem.linktext}</a>
											</li>
										</f:for>
									</ul>
								</v:page.menu>
							</li>
						</f:then>
						<f:else>
							<li class="{menuItem.class}">
								<a href="{menuItem.link}" class="{menuItem.class}">{menuItem.linktext}</a>
							</li>
						</f:else>
					</f:if>
				</f:for>
			</ul>
		</v:page.menu>    