<div id="main-nav" class="main-nav navbar navbar-default" role="navigation">
	<div class="container-fluid">
  	
  	<div class="navbar-header">
    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
     		<span class="sr-only">Toggle navigation</span>
      	<span class="icon-bar"></span>
      	<span class="icon-bar"></span>
      	<span class="icon-bar"></span>
     	</button>             
    </div>
    
  <!-- Mobile menu toggle button (hamburger/x icon) -->
  <!--  <input id="main-menu-state" type="checkbox" />
  <label class="main-menu-btn" for="main-menu-state">
    <span class="main-menu-btn-icon"></span> Toggle main menu visibility
  </label> -->    
    
    <div class="collapse navbar-collapse">
    	<nav id="main-nav" role="navigation">
      	<f:render partial="MainMenu" />  	
      </nav>  	
     </div>
   </div>
</div>
    
<!-- <nav id="main-nav" role="navigation">
	<f:render partial="MainMenu" />
</nav> -->    